{% extends "base.html" %} {% block title %} Index {% endblock %}
<!-- This is a comment -->

{% block header20_content %}
<h1 class="text-center">Página de Selección</h1>
{% endblock header20_content %} {% block content %}
<div class="container d-flex justify-content-center flex-column altura-100p">
  <div class="col-6 mx-auto">
    <div
      class="circulo mx-auto d-flex justify-content-center align-items-center"
    >
      <div class=""></div>
    </div>
  </div>
  <a
    href="{% url 'listado_sorteos' %}"
    class="btn btn-lg btn-primary mx-auto mt-4 col-10 col-md-4"
    >Ver los Sorteos
  </a>
</div>
{% endblock %}
