{% extends "base20.html" %} {% load l10n %}
<!-- un separador -->
{% block title %} Sorteos {% endblock %}
<!-- Inicio block header  -->
{% block header20_content %}
<div class="d-flex altura-15 justify-content-center align-items-center">
  <h1 class="text-center">Lista de Sorteos</h1>
</div>
<div class="d-flex justify-content-around altura-5 align-items-center">
  {% include "parciales/ir_seleccion.html" %}
  <a href="{% url 'crear_sorteo' %}" class="btn btn-primary col-10 col-md-4"
    >Crear Nuevo Sorteo</a
  >
</div>
{% endblock header20_content %}
<!-- Este template muestra una lista de sorteos disponibles. Cada sorteo se muestra en una tarjeta con su nombre, descripción y un enlace para ver más detalles. Si no hay sorteos disponibles, se muestra un mensaje informativo. -->
{% block content %}
<!-- Aquí se muestra la lista de sorteos -->
{% if sorteos %}
<table class="table table-striped">
  <thead class="sticky-top">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Fecha del Soteo</th>
      <th scope="col">Valor de la Papeleta</th>
      <th scope="col" class="col-5">Acciones</th>
    </tr>
  </thead>

  <tbody>
    {% for sorteo in sorteos %}
    <tr>
      <th scope="row">{{ sorteo.id }}</th>
      <td>{{ sorteo.fecha | date:"d/m/Y" }}</td>
      <td>
        {% localize on %}{{ sorteo.valor_papeleta|localize }} €{% endlocalize %}
      </td>
      <td>
        <a
          class="btn btn-primary col-4"
          href="{% url 'detalles_sorteo' sorteo_id=sorteo.id %}"
          >Detalles</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
{% include "parciales/mensaje_sorteo.html" with mensaje='No hay sorteos disponibles.' %}
{% endif %} {% endblock %}
