{% extends "base20.html" %} {% block title %} Inscribir Socio {% endblock %}
<!-- Inicio block header  -->
{% block header20_content %}
<div class="d-flex altura-15 justify-content-center align-items-center">
  <h1 class="text-center">Inscribir Nuevo Socio</h1>
</div>
<div class="d-flex justify-content-around altura-5 align-items-center">
  {% include "parciales/ir_seleccion.html" %}
  <!-- Aquí se incluye un enlace para volver a la página de selección -->
  {% include "parciales/ir_listar_socios.html" %}
</div>
{% endblock header20_content %}
<!-- Este template muestra un formulario para crear un nuevo sorteo. El formulario se implementaría aquí, y se incluirían los campos necesarios para ingresar la información del sorteo, como la fecha, el valor de la papeleta, etc. -->
{% block content %}
<!-- Aquí se mostraría el formulario para crear un nuevo sorteo -->
<div class="d-flex justify-content-center flex-column h-100">
  <form method="post">
    {% csrf_token %}
    <!-- Aquí se incluirían los campos del formulario -->
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre del Socio</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        required
      />
    </div>
    <div class="mb-3">
      <label for="apellidos" class="form-label">Apellidos del Socio</label>
      <input
        type="text"
        class="form-control"
        id="apellidos"
        name="apellidos"
        required
      />
    </div>
    {% include "parciales/b_clasica.html" with t_b_nuevo="Inscribir Socio" %}
  </form>
</div>
{% endblock %}
