{% extends "base.html" %} {% load l10n %}
<!-- un separador -->
{% block title %} Socios {% endblock %}
<!-- Inicio block header  -->
{% block header20_content %}
<h1 class="text-center">Lista de Socios</h1>
<div class="d-flex justify-content-around">
  {% include "parciales/ir_seleccion.html" %}
  <a href="{% url 'inscribir_socio' %}" class="btn btn-primary col-10 col-md-4"
    >Inscribir Nuevo Socio</a
  >
</div>
{% endblock header20_content %}
<!-- Este template muestra una lista de socios disponibles. Cada socio se muestra en una tarjeta con su nombre, descripción y un enlace para ver más detalles. Si no hay socios disponibles, se muestra un mensaje informativo. -->
{% block content %}
<!-- Aquí se muestra la lista de socios -->
{% if socios %}
<table class="table table-striped">
  <thead class="sticky-top">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Fecha del Soteo</th>
      <th scope="col">Valor de la Papeleta</th>
      <th scope="col" class="col-5">Acciones</th>
    </tr>
  </thead>

  <tbody>
    {% for socio in socios %}
    <tr>
      <th scope="row">{{ socio.id }}</th>
      <td>{{ socio.fecha | date:"d/m/Y" }}</td>
      <td>
        {% localize on %}{{ socio.valor_papeleta|localize }} €{% endlocalize %}
      </td>
      <td>
        <a
          class="btn btn-primary col-4"
          href="{% url 'detalles_socio' socio_id=socio.id %}"
          >Detalles</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="h-100 d-flex justify-content-center align-items-center">
  <div
    class="alert alert-info d-flex justify-content-center w-100"
    role="alert"
  >
    <p class="m-0">No hay socios inscritos.</p>
  </div>
</div>
{% endif %} {% endblock %}
